---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="container mx-auto px-6 py-16 text-center">
     <img 
  src="src/assets/bmi921-icon.jpg" 
  alt="icon" 
  class="w-64 h-64 sm:w-48 sm:h-48 lg:w-64 lg:h-64 mx-auto mb-8 rounded-full" 
/>
    <h1 class="text-7xl font-bold text-black">I'm bmi921.</h1>
    <p class="mt-4 text-lg text-black-200">I'm a passionate developer building modern web applications.</p>
    
  </div>
</Layout>