---
import { GitHubLogoIcon } from '@radix-ui/react-icons';
import Favicon from '/public/favicon.png';
---

<header class="bg-transparent">
  <nav
    class="container mx-auto px-8 py-4 flex justify-between items-center max-w-4xl"
  >
    <div
      class="flex flex-row text-2xl font-bold text-black hover:text-gray-800"
    >
      <!-- <img
        src={Favicon.src}
        alt="icon"
        class="w-8 h-8 mx-auto mr-2 rounded-lg"
      /> -->
      <a href="/" class="text-pink-500 underline hover:text-pink-400">bmi921</a>
    </div>
    <div class="flex space-x-4">
      <a href="/blog" class="text-gray-600 hover:text-gray-800 underline"
        >blog</a
      >
      <a href="/works" class="text-gray-600 hover:text-gray-800 underline"
        >works</a
      >
      <a
        href="https://github.com/bmi921"
        class="text-gray-600 hover:text-gray-800"
      >
        <GitHubLogoIcon
          width="28"
          height="28"
          className="ml-2 text-gray-800 hover:text-gray-800"
        /></a
      >
    </div>
  </nav>
</header>
